h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
