@import "../scss/reset";
@import "../scss/global";

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #fff;
}

.container {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
