.movie-item {
  &__link {
    display: block;
    margin-bottom: 8px;
  }

  &__poster {
    transition: all 0.2s ease-in;
    &:hover {
      transform: scale(1.05);
      filter: brightness(110%);
    }
  }

  &__caption {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  &__rating {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("@/assets/svg/star.svg") no-repeat center/cover;
    }
  }

  &__date {
    margin-left: 8px;
  }
}
