.header-navigation {
  &__list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: #fba056;
    }
  }
}
